# Copy this file to .env before deploying.
JWT_SECRET=replace-with-a-long-random-secret
ACCESS_TOKEN_EXPIRATION=900
REFRESH_TOKEN_EXPIRATION=604800

USER_DB_NAME=user_db
USER_DB_PORT=5433
USER_DB_USERNAME=user_service
USER_DB_PASSWORD=change-user-db-password

CATALOG_DB_NAME=catalog_db
CATALOG_DB_PORT=5434
CATALOG_DB_USERNAME=catalog_service
CATALOG_DB_PASSWORD=change-catalog-db-password

BOOKING_DB_NAME=booking_db
BOOKING_DB_PORT=5435
BOOKING_DB_USERNAME=booking_service
BOOKING_DB_PASSWORD=change-booking-db-password

RABBITMQ_USERNAME=movieapp
RABBITMQ_PASSWORD=change-this-rabbitmq-password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

EUREKA_URL=http://discovery-service:8084/eureka/
EUREKA_INSTANCE_PREFER_IP_ADDRESS=true

MAIL_HOST=mailhog
MAIL_PORT=1025

MAIL_FROM=no-reply@moviebooking.local
